.poll-card{
    border: 1px solid #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.poll-card > h3{
    margin-top: 0;
}

.poll-card__actions{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
}